.main 
  .main__top
    .main__top__user
      .main__top__user__name
        a
      .main__top__user__member
        member
    .main__top__edit
      edit
  
  .main__center
    .main__center__message
      .main__center__message__info
        .main__center__message__info__user
          name
        .main__center__message__info__date
          2020/05/31
      .main__center__message__text
        message

  .main__bottom
    .main__bottom__text
      .main__bottom__text__info
        .main__bottom__text__info__message
          aaa
        .main__bottom__text__info__photo
          %label{class: "input-box__image"}
            = icon('fas', 'image')
            %input.hidden{type: "file"}
            
      .main__bottom__text__send
        
        send
      



