.main__center__message
  .main__center__message__info
    .main__center__message__info__user
      = message.user.name
    .main__center__message__info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .main__center__message__text
    - if message.chat.present?
      %p.lower-message__content
        = message.chat
    = image_tag message.image.url, class: 'lower-message__image' if message.image.present?