.side
  .top
    .top__user
      .top__user__name
        aaa
      .top__user__icon
        .top__user__icon__pencil
          =icon('fa', 'edit')
        .top__user__icon__config
          =icon('fa','cog')
      
  .bottom
    .bottom__user
      a
    .bottom__message
      まだメッセージがありません

