.side
  .top
    .top__user
      .top__user__name
        = current_user.name
      .top__user__icon
        .top__user__icon__pencil
          =link_to do
            =icon('fa', 'edit')
        .top__user__icon__config
          =link_to edit_user_path(current_user)do
            =icon('fa','cog')
      
      
  .bottom
    .bottom__user
      a
    .bottom__message
      まだメッセージがありません

